* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;      /* 16px */
    @media (max-width: 1200px) {
        font-size: 87.5%; /* 14px */
    }
    @media (max-width: 1000px) {
        font-size: 75%;   /* 12px */
    }
    @media (max-width: 760px) {
        font-size: 62.5%; /* 10px */
    }
    @media (max-width: 560px) {
        font-size: 50%;   /* 8px */
    }
}

body {
    font-family: $font-rubik;
    background-color: $color-secundary;
}