.nav {
  display: flex;
  background-color: $color-primary;
  position: fixed;
  height: 100vh;
  width: 5rem;
  z-index: 2;

  &-title {
    align-self: center;
    font-size: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

/* section navigation */
#fp-nav.fp-left {
  @media(max-width: 430px) {
    display: none;
  }
}

@mixin background-square {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $color-primary;
}

@mixin form-input {
  padding: 7px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: gray;
  @include response(sm) {
      height: auto;
  }
}

@mixin section-title {
  font-family: $font-rajdhani;
  font-size: 10rem;
  color: $color-primary;
  opacity: 0.4;
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: -1;
  @include response(sm) {
      font-size: 7rem;
  }
  @include response(xs) {
      font-size: 5rem;
    }
}